

.header-bakgrund{
    -fx-background-color: #B6F3A5;
}

.header-text{

    -fx-position: absolute;
    -fx-left: 2.85%;
    -fx-right: 76.32%;
    -fx-top: -3.22%;
    -fx-bottom: 91.89%;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 90px;
    -fx-line-height: 232px;
    -fx-color: #000000;
}
.header{
    -fx-background-color: #623CEA;
}
.header-icon {
    -fx-border-radius: 10px;
    -fx-border-color: #623CEA;
    -fx-border-width: 20px;
    -fx-border-style: solid;
}