.searchbar {
    -fx-font-size: 24px;

    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-align-items: center;
    -fx-padding: 0px;
    -fx-gap: 4px;

    -fx-background-color: #ECE6F0;
    -fx-background-radius: 28px;
}


.sidebar {
    -fx-background-color: #DAEAD7;

}

.secondary-header {
    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 52px;
    -fx-line-spacing: 68px;

    -fx-text-fill: #000000;
}