.gatuadress-postnr{
    /* Gatuadress */

    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 48px;
    -fx-color: #000000;
}
.textbox{
    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-size: 24px;
    -fx-color: #000000;
}

.dag{
    -fx-width: 99px;
    -fx-height: 72px;

    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 48px;
    -fx-line-height: 72px;

    -fx-color: #000000;
}

.bakgrund{
    -fx-background-color: #B6F3A5;
}

.bakåt{
    -fx-pref-width: 142px;
    -fx-pref-height: 61px;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 3px;
    -fx-border-color: #67E083;
    -fx-background-insets: 3px;
    -fx-border-radius: 71px;
}