/*
@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins.ttf');
    font-weight: normal;
    font-style: normal;
}
*/

/* ##################### GENERAL STUFF AND COMPONENTS ########################## */

.small-text {
    -fx-font-size: 26px;
}
.text-medium{
    -fx-font-style: normal;
    -fx-font-size: 48px;
    -fx-text-fill: #000000;
}
.bigMedium-text{
    -fx-font-style: normal;
    -fx-font-size: 55px;
    -fx-text-fill: #000000;
}
.large-text{
    -fx-font-style: normal;
    -fx-font-size: 70px;
    -fx-text-fill: #000000;
}

.h1 {
    -fx-font-size: 38px;
}


.next-button {
    -fx-font-size: 35px;
    -fx-text-fill: #000000;
    -fx-background-color: #67E083;
    -fx-background-insets: 0;
    -fx-background-radius: 100px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 1, 0, 0), dropshadow(three-pass-box, rgba(0,0,0,0.15), 6, 2, 0, 0);
}

.previous-button {
    -fx-font-size: 35px;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 3px;
    -fx-border-color: #67E083;
    -fx-background-insets: 3px;
    -fx-border-radius: 71px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 2, 1, 0, 0), dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 6, 2, 0, 0);
    -fx-text-fill: #000000;
}

.slutfor-button{
    -fx-font-size: 35px;
    -fx-text-fill: #000000;
    -fx-background-color: #ff991c;
    -fx-background-insets: 0;
    -fx-background-radius: 100px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 1, 0, 0), dropshadow(three-pass-box, rgba(0,0,0,0.15), 6, 2, 0, 0);
}
.spara-button{
    -fx-font-size: 35px;
    -fx-pref-width: 150px;
    -fx-pref-height: 75px;
    -fx-text-fill: #000000;
    -fx-background-color: #67E083;
    -fx-background-insets: 0;
    -fx-background-radius: 100px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 1, 0, 0), dropshadow(three-pass-box, rgba(0,0,0,0.15), 6, 2, 0, 0);
}


/*<<<<<<< HEAD  =======*/
.textfield {
    -fx-background-color: #D9D9D9;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 0px, 4px, 4px);*/
    -fx-border-radius: 10px;

}


/* FRAME SPECIFIC CODE */

.day-choosing-button {

    -fx-background-color: #B6F3A5;
    -fx-border-radius: 8px;

    /* Inside auto layout */

    -fx-flex: none;
    -fx-order: 0;
    -fx-flex-grow: 0;

    -fx-font-family: "Poppins";
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 40px;
    -fx-line-height: 72px;

}

/* FRAME SPECIFIC CODE */
    .time-choosing-button {
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-justify-content: center;
    -fx-align-items: center;
    -fx-padding: 16px;
    -fx-gap: 8px;

    -fx-background-color: #B6F3A5;
    -fx-border-radius: 8px;

    /* Inside auto layout */

    -fx-flex: none;
    -fx-order: 0;
    -fx-flex-grow: 0;



    -fx-font-family: "Poppins";
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 40px;
    -fx-line-height: 72px;

}



/* HEADER */

.header-bakgrund{
    -fx-background-color: #B6F3A5;
}

.header-text{
    -fx-font-style: normal;
    -fx-font-size: 90px;
    -fx-color: #000000;
}
.header{
    -fx-background-color: #623CEA;
}
.header-icon {
    -fx-border-radius: 10px;
    -fx-border-color: #623CEA;
    -fx-border-width: 20px;
    -fx-border-style: solid;
}

/* BETALNING */

.betalning-icon-bakgrund{
    -fx-background-color: #a6bce0;
}

.betalning-text{
    -fx-font-size: 35px;
    -fx-font-style: normal;
    -fx-text-fill: #ffffff;
}

.betalning-textbox{
    -fx-text-fill: #4b4d57;
    -fx-font-size: 25px;
    -fx-font-style: normal;

}


/* IMAT APP */
.searchbar {
    -fx-font-size: 24px;

    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-align-items: center;
    -fx-padding: 0px;
    -fx-gap: 4px;

    -fx-background-color: #ECE6F0;
    -fx-background-radius: 28px;
}


.sidebar {
    -fx-background-color: #DAEAD7;

}

.secondary-header {
    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 45px;
    -fx-line-spacing: 68px;

    -fx-text-fill: #000000;
}
.menu-button{
    -fx-font-style: normal;
    -fx-font-size: 30px;
    -fx-text-fill: #000000;
}

.kundvagn-text{
    -fx-font-style: normal;
    -fx-font-size: 22px;
    -fx-text-fill: #000000;
}
.sok-text{
    -fx-text-fill: #949292;
    -fx-font-size: 40px;
    -fx-font-style: normal;
}

/* PRODUCT CARD */
.product-change-area {
    -fx-border-radius: 100px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.product-Label {
    -fx-font-size: 18;
}

.product-header {
    -fx-font-size: 26;
}

.heart-icon {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}
.heart-icon:hover {
    -fx-background-color: #BABABA;
}

/* VARA I VARUKORG */
.vara-vara{
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-justify-content: center;
    -fx-align-items: center;
    -fx-padding: 0px;
    -fx-gap: 4px;

    -fx-width: 215px;
    -fx-height: 24px;
}
.vara-header{
    /* header */


    -fx-width: 138px;
    -fx-height: 24px;

    -fx-font-family: 'Roboto';
   /* -fx-font-style: bold;*/
    -fx-font-weight: 500;
    -fx-font-size: 25px;
    -fx-line-height: 24px;

    /* identical to box height, or 96% */

    -fx-letter-spacing: 0.15px;

    /* M3/sys/light/on-surface */

    -fx-color: #1D1B20;
}

.vara-pris{
    /* subhead */


    -fx-width: 73px;
    -fx-height: 20px;

    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 20px;
    -fx-line-height: 20px;
    /* identical to box height, or 100% */

    -fx-letter-spacing: 0.25px;

    /* M3/sys/light/on-surface */

    -fx-color: #1D1B20;

}
.vara-change-area {
    -fx-border-radius: 100px;
    -fx-border-color: #6750A4;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.vara-styck{
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 24px;
    -fx-color: #6750A4;

    -fx-display: flex;
    -fx-align-items: center;
    -fx-text-align: center;
    -fx-letter-spacing: 0.1px;

}

/* LEVERANSADRESS */
.leveransadress-textbox{
    -fx-text-fill: #4b4d57;
    -fx-font-size: 35px;
    -fx-font-style: normal;
}
.background {
    -fx-background-color: #FFFFFF;
}
.red_border {
    -fx-border-color: #FF0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
/* KVITTO */
.kvitto{
    -fx-background-color: #D9D9D9;
}

.progress_bar .bar_inactive {
    -fx-fill: #D9D9D9;
    -fx-stroke: #D9D9D9;
}

.progress_bar .bar_active {
    -fx-fill: #67E083;
    -fx-stroke: #67E083;
}

.progress_bar .button {
    -fx-background-radius: 30px;
    -fx-pref-height: 45px;
    -fx-pref-width: 45px;
}

.progress_bar .button_inactive {
    -fx-background-color: #D9D9D9;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #bfbfbf, 10, 0, 0, 0);
}

.progress_bar .button_inactive:hover {
    -fx-background-color: #bfbfbf;
}

.progress_bar .button_active {
    -fx-background-color: #67E083;
    -fx-effect: dropshadow(gaussian, #58bb6f, 10, 0, 0, 0);
}

.progress_bar .button_active:hover {
    -fx-background-color: #58bb6f;
}
