/* text */


/* Auto layout */
.vara{
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-justify-content: center;
    -fx-align-items: center;
    -fx-padding: 0px;
    -fx-gap: 4px;

    -fx-width: 215px;
    -fx-height: 24px;
}
.header{
    /* header */


    -fx-width: 138px;
    -fx-height: 24px;

    -fx-font-family: 'Roboto';
    -fx-font-style: bold;
    -fx-font-weight: 500;
    -fx-font-size: 25px;
    -fx-line-height: 24px;

    /* identical to box height, or 96% */

    -fx-letter-spacing: 0.15px;

    /* M3/sys/light/on-surface */

    -fx-color: #1D1B20;
}

.pris{
    /* subhead */


    -fx-width: 73px;
    -fx-height: 20px;

    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 20px;
    -fx-line-height: 20px;
    /* identical to box height, or 100% */

    -fx-letter-spacing: 0.25px;

    /* M3/sys/light/on-surface */

    -fx-color: #1D1B20;

}
.change-area {
    -fx-border-radius: 100px;
    -fx-border-color: #6750A4;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.styck{
    -fx-font-family: 'Roboto';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 24px;
    -fx-color: #6750A4;

    -fx-display: flex;
    -fx-align-items: center;
    -fx-text-align: center;
    -fx-letter-spacing: 0.1px;

}
